/*
    AUTHOR: Sam Johnson
    MINIMusic Player
*/
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f5f5;
}

header h2 {
  color: #f09f8b;
  text-align: center;
}

/* HTML5 Audio player with playlist styles */
.example,
.example2,
.example3 {
  margin: 50px auto 0;
  max-width: 1000px;
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.more-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.more-btn img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
}
.more-btn img.up {
  transform: rotate(180deg);
}

.player {
  background: #fff;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 2;
  display: none;
  bottom: 0;
  left: 0;
  direction: ltr;
}

.title,
.artist {
  font-family: verdana;
  right: 103px;
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.title {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  top: 23px;
}
.artist {
  color: #9b9b9b;
  font-size: 12px;
  top: 40px;
  margin-top: 5px;
}
.pl {
  background: url(../images/playlist.png) no-repeat;
  cursor: pointer;
  height: 40px;
  left: 330px;
  position: absolute;
  top: 20px;
  width: 39px;
}
.pl:hover {
  top: 21px;
}
.cover {
  border-radius: 5px 5px 5px 5px;
  height: 64px;
  right: 20px;
  position: absolute;
  top: 10px;
  width: 64px;
}
.controls {
  cursor: pointer;
  left: 0px;
  position: absolute;
  top: 30px;
  left: 122px;
}
.controls .play,
.controls .pause {
  width: 25px;
  height: 25px;
  margin: 0px 5px;
}
.controls .play,
.controls .pause,
.controls .rew,
.controls .fwd,
.controls .stop {
  text-indent: -10000px;
  border: none;
  float: left;
}
.controls .rew,
.controls .fwd,
.controls .stop {
  width: 20px;
  height: 20px;
  margin: 2px 7px;
}
.controls .play {
  background: url(../images/play.png) no-repeat;
  background-size: 90%;
}

.controls .pause {
  background: url(../images/pause.png) no-repeat;
  display: none;
  background-size: 90%;
}
.controls .rew {
  background: url(../images/rewind.png) no-repeat;
  background-size: 90%;
}
.controls .fwd {
  background: url(../images/next.png) no-repeat;
  background-size: 90%;
}
.controls .stop {
  background: url(../images/stop.png) no-repeat;
  background-size: 90%;
}
.hidden {
  display: none;
}
.controls .visible {
  display: block;
}
a .volume {
  height: 11px;
  left: 230px;
  position: absolute;
  top: 142px;
  width: 140px;
}
.mute .volume-btn {
  background: url(../images/volume-off.png) no-repeat;
}
.volume-btn {
  background: url(../images/volume-up.png) no-repeat;
  height: 20px;
  width: 20px;
  float: left;
  position: relative;
  top: -4px;
}
.volume-adjust {
  height: 11px;
  position: relative;
  width: 80%;
  background: #fff;
  float: right;
}
.volume-adjust > div > div {
  height: 11px;
  background: #33b37d;
}
.progressbar {
  background-color: #fff;
  cursor: pointer;
  z-index: 1;
  right: 6.875em;
  height: 15px;
  left: 25%;
  position: absolute;
  width: 50%;
  top: 40px;
}
.novolume .progressbar {
  right: 4.375em; /* 70 */
}
.progressbar div {
  width: 0%;
  height: 5px;
  border-radius: 25px;
  position: absolute;
  left: 0;
  top: 0;
}
.bar-loaded {
  width: 100% !important;
  background-color: #33b37d30;
  z-index: 1;
}
.bar-played {
  background: #33b37d;
  z-index: 2;
}
.timeHolder {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  top: 35px;
  position: absolute;
  width: 90%;
  left: 76%;
}
.time-current,
.time-duration,
.time-separator {
  color: #4c4c4c;
  font-size: 14px;
  font-weight: bold;
  float: left;
}
.volume .ui-slider-handle {
  background: url("../images/spr.png") no-repeat scroll -201px -188px
    rgba(0, 0, 0, 0);
  height: 13px;
  width: 13px;
}
.playlist {
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 15px;
  position: relative;
  width: 95%;
  z-index: 1;
  margin: 0px auto;
}
.playlist li,
.playlist div {
  color: #151b48;
  cursor: pointer;
  margin: 0 0 5px 15px;
  background: #fff;
  text-align: right;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  position: relative;
}
.playlist li > a,
.playlist div > a {
  color: #151b48;
  text-decoration: none;
}
.playlist li.active,
.playlist div.active {
  font-weight: bold;
}
.slick-dots {
  bottom: 5px !important;
}
.slick-dots li button:before {
  font-size: 8px !important;
}
p.caption {
  font-size: small;
  color: #868686;
}

img.play {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 20px;
}

.playlist-item.extra {
  display: none;
}
